.gallery {
  margin-top: 8rem;

  &__header {
    color: #fff;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    img {
      max-width: 600px;
      width: 100%;
    }
  }

}