.nav {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;


  &__navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 250px;
    }

    h4 {
      color: #fff;
      margin-right: 1rem;
    }
  }

  &__navTabs {
    color: #fff;
    display: flex;
    gap: 5rem;
    list-style-type: none;
  }

  button {
    background: none;
    border: none;
    font-size: 1rem;
    font-family: Ubuntu, "sans-serif";
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;

    &:hover {
      color: #61dafb;
    }
  }

}

