
.passInput {
  position: relative;


  &__input {
    width: 100%;
  }

  &__showPassIcon {
    position: absolute;
    top: 40%;
    right: 5%;
  }
}

.passRetypeInput {
  position: relative;

  &__input {
    width: 100%;
  }

  &__showPassRetypeIcon {
    position: absolute;
    top: 35%;
    right: 5%;
  }

}